* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

.box-text{
    color:white;
    margin-top: 140px;
    text-align: center;
}


.table-wad{
    font-size: 50px;
    align-self: center;
}
.head-text{
    font-size: 80px;
}
.wat_link a{
    text-decoration: none;
    color: azure;
    transition: 0.3 ease-in-out;
    font-size: 50px;
}
.wat_link a:hover{
    color: rgb(255, 239, 14);
}

.head-text{
    align-items: center;
}

.page-grid2{
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%; 
    background-color: transparent;
    border-width: 20px;
    border-color: aqua;
    }